
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Solida GYO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/constructioncompany-master/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/slick.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/constructioncompany-master/assets/css/style.css">
</head>

<body>
    @await Html.PartialAsync("HeaderPartial")

    @await Html.PartialAsync("ServicesPartial")

    @await Html.PartialAsync("WhoWeArePartial")

    @await Html.PartialAsync("ProjectPartial")

    @await Html.PartialAsync("LatestNewPartial")

    @await Html.PartialAsync("FooterPartial")
    
        <!-- Team Start -->
        @* <div class="team-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle5 mb-50">
                            <div class="front-text">
                                <h2 class="">Our team</h2>
                            </div>
                            <span class="back-text">exparts</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/constructioncompany-master/assets/img/team/team1.png" alt="">
                            </div>
                            <div class="team-caption">
                                <span>UX Designer</span>
                                <h3>Ethan Welch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/constructioncompany-master/assets/img/team/team2.png" alt="">
                            </div>
                            <div class="team-caption">
                                <span>UX Designer</span>
                                <h3>Ethan Welch</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/constructioncompany-master/assets/img/team/team3.png" alt="">
                            </div>
                            <div class="team-caption">
                                <span>UX Designer</span>
                                <h3>Ethan Welch</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
        <!-- Team End -->
        
        

    </main>
    

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/constructioncompany-master/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/constructioncompany-master/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/popper.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/constructioncompany-master/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/constructioncompany-master/assets/js/owl.carousel.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/constructioncompany-master/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/constructioncompany-master/assets/js/wow.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/animated.headline.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/constructioncompany-master/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.counterup.min.js"></script>

    <!-- contact js -->
    <script src="~/constructioncompany-master/assets/js/contact.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.form.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.validate.min.js"></script>
    <script src="~/constructioncompany-master/assets/js/mail-script.js"></script>
    <script src="~/constructioncompany-master/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/constructioncompany-master/assets/js/plugins.js"></script>
    <script src="~/constructioncompany-master/assets/js/main.js"></script>

</body>
</html>
