<!--latest Nnews Area start -->
<div class="latest-news-area section-padding30" style="background-color:#292929;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle7 mb-50">
                    <div class="front-text">
                        <h2 style="color: #fff;
           text-shadow:
               -1px -1px 0 #fff,
                1px -1px 0 #fff,
               -1px  1px 0 #fff,
                1px  1px 0 #fff;">
                            Haberler
                        </h2>
                        >
                    </div>
                    @* <span class="back-text">Our Blog</span> *@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- single-news -->
                <div class="single-news mb-30">
                    <div class="news-img">
                        <img src="~/constructioncompany-master/assets/img/david/david_1.png" alt="">
                        <div class="news-date text-center" style="background-color:#631300; color:#fff; padding:10px;">
                            
                            <span>24</span>
                            <p>Kasım</p>
                        </div>
                    </div>
                    <div class="news-caption" style="background-color:#631300; color:#fff; padding:40px 6px; display:inline-block; text-decoration:none;">
                        <ul class="david-info">
                            <li> | &nbsp; &nbsp;  İnşaat</li>
                        </ul>
                        <h2>
                            <a href="single-blog.html" >
                                Solida GYO inşaat sektörüne damga vurmaya devam ediyor.
                            </a>
                        </h2>
                        @* <a href="single-blog.html" class="d-btn">Read more » </a> *@
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <!-- single-news -->
                <div class="single-news mb-30">
                    <div class="news-img">
                        <img src="~/constructioncompany-master/assets/img/david/david_2.png" alt="">
                        <div class="news-date text-center" style="background-color:#631300; color:#fff; padding:10px;">
                            
                            <span>24</span>
                            <p>Kasım</p>
                        </div>
                    </div>
                    <div class="news-caption" style="background-color:#631300; color:#fff; padding:40px 6px; display:inline-block; text-decoration:none;">
                        <ul class="david-info">
                            <li> | &nbsp; &nbsp;  Emlak</li>
                        </ul>
                        <h2>
                            <a href="single-blog.html" >
                                Keçiören'de 100 konutluk projemiz tamamlandı.
                            </a>
                        </h2>
                        @* <a href="single-blog.html" class="d-btn">Read more » </a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--latest News Area End -->