<!-- About Area Start -->
<section class="support-company-area fix pt-10" style="background-color:#292929;">
    <div class="support-wrapper align-items-end">
        <div class="left-content">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 style="color: #fff;
           text-shadow:
               -1px -1px 0 #fff,
                1px -1px 0 #fff,
               -1px  1px 0 #fff,
                1px  1px 0 #fff;">
                        Hakkımızda
                    </h2>
                    >


                </div>
                @* <span class="back-text">About us</span> *@
            </div>
            <div class="support-caption" style="font-size: 17px; font-weight: 700; color: #FFFFFF;">
                <p class="pera-top" style="font-size: 17px; font-weight: 700; color: #FFFFFF;">Solida Gayrimenkul Yatırım Ortaklığı A.Ş. (Solida GYO), 2025 yılında kurulmuş, Türkiye’nin önde gelen gayrimenkul yatırım ve geliştirme şirketlerinden biridir. Merkezi İstanbul’da bulunan Solida GYO, sürdürülebilir büyüme stratejisi doğrultusunda gayrimenkul geliştirme, yatırım, kira geliri yönetimi ve portföy çeşitlendirmesi alanlarında faaliyet göstermektedir.</p>
                <p>
                    <span style="font-size: 17px; font-weight: 700; color: #FFFFFF;">
                    Şirketimiz, modern şehir yaşamının ihtiyaçlarını karşılayan konut, ofis, ticari alan ve karma kullanım projeleri geliştirerek hem yatırımcılarına hem de topluma kalıcı değer yaratmayı hedeflemektedir.

                    Solida GYO, güçlü sermaye yapısı, yenilikçi yaklaşımı ve deneyimli yönetim kadrosu ile gayrimenkul sektöründe güven ve istikrarın sembolü haline gelmiştir.

                    Yönetim Kurulu Başkanı Sn. [İsim Soyisim], şirketin vizyonunu ileriye taşıyan, kurumsal yönetim ilkelerine bağlı bir liderlik anlayışıyla faaliyetlerini sürdürmektedir.      

                    Bugüne kadar Türkiye’nin farklı bölgelerinde hayata geçirdiği projelerle 1 milyon metrekarenin üzerinde inşaat alanına ulaşan Solida GYO, geleceğin şehirlerini şekillendirme hedefiyle yeni yatırımlarına kararlılıkla devam etmektedir.
                    </span>
                </p>
                @* <a href="about.html" class="btn red-btn2">solida</a> *@
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img">
                <img src="~/constructioncompany-master/assets/img/gallery/bizkimiz2.jpg" alt="">
            </div>
            <div class="support-img-cap text-center">
                <span>2025</span>
                <p>Since</p>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->

<style>

    .btn red-btn2 h2 {
        color: #751300 !important;
    }

</style>